.chat-container {
  display: flex;
  height: 100%;
  overflow: hidden;
}
.user-list-pane {
  width: 300px;
  min-width: 250px;
  border-right: 1px solid #ccc;
}
.chat-window-pane {
  flex-grow: 1; 
}
